.container{
    margin: 0 50px;
    color: #000;
    font-size: 24px;
    word-break: break-all;
}
.container h3{
    font-size: 24px;
    text-align: center;
}
.container ul{
    padding: 0;
}
.container li{
    list-style-type: none;
}

@media all and (max-width: 800px) {
    .container{
        font-size: 22px;
    }
}

@media all and (max-width: 500px) {
    .container input{
        font-size: 20px;
    }
}