.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #000;
    font-size: 20px;
    word-break: break-all;
    width: 500px;
}
.container h3{
    font-size: 24px;
}
.container ul{
    padding: 0;
}
.container li{
    list-style-type: none;
}